.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}